@import "tailwindcss";

:root {
  --background: #FFC0CB;
  --foreground: #eb0808;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
