.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(circle, #111, #000);
}

.ring {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotate 15s linear infinite;
  --translateZ: 300px;
  --translateZ-selected: 350px;
}

.paused {
  animation-play-state: paused;
}

.item {
  position: absolute;
  inset: 0;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .ring {
    width: 150px;
    height: 150px;
    --translateZ: 230px;
    --translateZ-selected: 270px;
  }
}

/* Small screens (sm) */
@media (max-width: 640px) {
  .ring {
    width: 100px;
    height: 100px;
    --translateZ: 160px;
    --translateZ-selected: 200px;
  }
}


.hidden {
  display: none;
}

@keyframes rotate {
  from {
    transform: perspective(1000px) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateY(360deg);
  }
}
